.one-fade-in-enter-active,
.one-fade-in-leave-active,
.one-fade-top-enter-active,
.one-fade-top-leave-active,
.one-fade-right-enter-active,
.one-fade-right-leave-active {
  will-change: transform;
  transition: all 500ms ease-out;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  perspective: 1000;
}
.one-fade-in-enter, .one-fade-in-leave-active {
  opacity: 0;
  transform: translateY(100%);
}

.one-fade-right-enter, .one-fade-right-leave-active {
  opacity: 0;
  transform: translateX(100%);
}

.one-fade-top-enter, .one-fade-top-leave-active {
  opacity: 0;
  transform: translateY(-100%);
}

/**/
.one-pop-out-enter-active,
.one-pop-out-leave-active,
.one-pop-in-enter-active,
.one-pop-in-leave-active {
  will-change: transform;
  transition: all 500ms;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  perspective: 1000;
}
.one-pop-out-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.one-pop-out-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.one-pop-in-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.one-pop-in-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.slide-fade-enter-active {
  transition: all .4s ease;
}
.slide-fade-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
  transform: translateX(100px);
  opacity: 0;
}

.list-enter-active {
  transition: all 1s;
}
.list-leave-active {
  transition: all .5s;
}
.list-enter {
  opacity: 0;
  transform: translateY(50px);
}
.list-leave-active {
  opacity: 0;
  transform: translateY(-50px);
}
