$body-bgcolor: #f4f8fb;

$btn-bgcolor: #7daddb;

$label-bgcolor: #7da9d7;

$input-color: #606061;

$title-color: #464c5b;

$content-color: #657180;

$sub-color: #9ea7b4;

$disabled-color: #9ea7b4;

$border-color: #9ea7b4;

$divider-color: #e3e8ee;

$line-color: #d9d9d9;

$bg-color: #f5f7f9;

$info-color: #39f;

$success-color: #0c6;

$warning-color: #f90;

$error-color: #f30;
$letter-spacing: 1px;

$font-family: Helvetica Neue Helvetica PingFang SC Hiragino Sans GB Microsoft YaHei 微软雅黑 Arial sans-serif;
